{% extends 'MadforitSbAdmin2Bundle::layout.html.twig' %}


{% block headline %}Attribute Listing{% endblock%}

{% block content_content %}
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Attribute Listing
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover" id="datatable-profile">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Type</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              {% for attribute in attributes %}
                <tr>
                  <td>{{ attribute.id }}</td>
                  <td>{{ attribute.name }}</td>
                  <td>{{ attribute.type }}</td>
                  <td ><a class="btn btn-xs btn-info" href="{{ path('madforit_profiler_attribute_edit', {'attribute_id': attribute.id}) }}">Edit</a>
                </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
