{% extends 'MadforitSbAdmin2Bundle::layout.html.twig' %}

{% block headline %}Create a new Segment{% endblock%}

{% block content_content %}
<form class="form-horizontal" action="{{ path('madforit_profiler_segment_edit',{'segment_id': segment.id}) }}" method="POST">
  {{ form_widget(form) }}
  <div class="form-actions">
     <button type="submit" class="btn btn-primary">Save</button>
     <button type="reset" class="btn">Cancel</button>
  </div>
</form>
{% endblock %}