{% extends 'MadforitSbAdmin2Bundle::layout.html.twig' %}


{% block headline %}Segments{% endblock%}

{% block content_content %}
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Segment Listing
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover" id="datatable-profile">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Criteria</th>
                <th>Matched</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block foot_script %}
{{ parent() }}
<script type="text/javascript">
  $('document').ready(function() {
    
      var viewLink = "{{ path("madforit_profiler_segment_edit",{"segment_id":"SEGMENTID"}) }}";
  
      $('#datatable-profile').dataTable({
          "bProcessing": true,
          "bServerSide": true,
          "sAjaxSource": "{{ app.request.uri }}_list",
          "fnRowCallback": function( nRow, aData, iDisplayIndex ) {
                    
                $('td:eq(6)', nRow).html(
                        '<a class="btn btn-xs btn-info" href="' + viewLink.replace("SEGMENTID", $('td:eq(0)', nRow).html()) + '">Edit</a>');
                
          },
          "aoColumnDefs": [
                  { "mData": null, "aTargets": [6] }
          ]
      })
  }); 
</script>
{% endblock %}